<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")

    <!-- MetisMenu CSS -->
    <link href="~/Scripts/plugins/metisMenu/dist/metisMenu.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Content/horizontal-timeline.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>
    @*<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">*@

    <!-- Dtatables CSS-->
    <link href="~/Scripts/plugins/datatables/media/css/jquery.dataTables.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Session["Usuario"] == null)
                {
                    @Html.ActionLink("MPLS Simulator", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
                }
                else
                {
                    @Html.ActionLink("MPLS Simulator", "Index", "Topologia", new {area = ""}, new {@class = "navbar-brand"})
                }

            </div>
            <!-- /.navbar-header -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["Usuario"] == null)
                    {
                        <li>@Html.ActionLink("Inicio", "Index", "Home", "", new { @style = "color:#337ab7;" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Inicio", "Index", "Topologia", "", new { @style = "color:#337ab7;" })</li>
                    }
                    <li>@Html.ActionLink("Contacto", "Demo", "Home", new { @style = "color:#337ab7;" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

            <!-- /.navbar-top-links -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                
                        @RenderBody()
                
                
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
        <div id="error" style="border: solid 3px black; padding:5px;"></div>
    </div>
    <!-- /#wrapper -->

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Scripts/plugins/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/sb-admin-2.js"></script>

    <!-- GoJS plugin -- TODO: Cambiar por go.js en la version final-->
    <script src="~/Scripts/plugins/gojs/go-debug.js"></script> 

    <script src="~/Scripts/plugins/bootbox/bootbox.js"></script>

    <script src="~/Scripts/plugins/jquery.blockUI.js"></script>

    <!-- Dtatables Javascript-->
    <script src="~/Scripts/plugins/datatables/media/js/jquery.dataTables.js"></script>

@RenderSection("scripts", required: false)
</body>
</html>







