@model IEnumerable<ProyectoMPLS.Models.Topologia.LSP>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Lista de LSPs</h4>
</div>

<div class="modal-body">

    @*<p>
        @Html.ActionLink("Crear Nuevo", "_CrearLSP", "Topologia", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-success" })
    </p>*@
    <table class="table">
        <thead>
            <tr>
                @*<th>
                @Html.DisplayNameFor(model => model.idProyecto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idLSP)
            </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.cNombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nBandwidth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.idRouterOrigen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.idRouterDestino)
                </th>
                @*<th>
                @Html.DisplayNameFor(model => model.nSetupPriority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nHoldPriority)
            </th>*@
                <th></th>
            </tr>
        </thead>
        
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    @*<td>
                @Html.DisplayFor(modelItem => item.idProyecto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idLSP)
            </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.cNombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nBandwidth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.idRouterOrigen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.idRouterDestino)
                    </td>
                    @*<td>
                @Html.DisplayFor(modelItem => item.nSetupPriority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nHoldPriority)
            </td>*@
                    <td>
                        @Html.ActionLink("Editar", "_EditarLSP", new { idProyecto = item.idProyecto }, new { @class = "btn btn-default" })
                        @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default" })*@
                        @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default" })
                    </td>
                </tr>
            </tbody>
            
        }

    </table>    

</div>

<div class="modal-footer">
    <button class="btn" data-dismiss="modal">Cerrar</button>
    @*<input class="btn btn-primary" type="submit" value="Save" />*@
</div>



