@model IEnumerable<ProyectoMPLS.Models.Topologia.LSP>

<table class="table">
    <tr>
        <th class="hidden">
            @Html.DisplayNameFor(model => model.idProyecto)
        </th>
        <th class="hidden">
            @Html.DisplayNameFor(model => model.idLSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cNombre)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.nBandwidth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idRouterOrigen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idRouterNextHop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idRouterDestino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nSetupPriority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nHoldPriority)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="hidden">
            @Html.DisplayFor(modelItem => item.idProyecto)
        </td>
        <td class="hidden">
            @Html.DisplayFor(modelItem => item.idLSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cNombre)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.nBandwidth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idRouterOrigen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idRouterNextHop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idRouterDestino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nSetupPriority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nHoldPriority)
        </td>*@
        <td>
            <div class="btn-group" role="group">
                <a class="btn btn-default" href='@Url.Action("_EditarLSP", "Enrutamiento", new { idProyecto = item.idProyecto, idLSP = item.idLSP })'><p class="fa fa-edit"></p></a>
                <a class="btn btn-outline btn-danger" href='@Url.Action("_EditarLSP", "Enrutamiento", new { idProyecto = item.idProyecto, idLSP = item.idLSP })'><p class="fa fa-trash-o"></p></a>
            </div>
           
        </td>
    </tr>
}

</table>
