@model IEnumerable<ProyectoMPLS.Models.Topologia.LSP>

<div class="list-group">
    @foreach (var item in Model)
    {
        <a data-modal="" href='@Url.Action("_EditarLSP", "Enrutamiento", new { idProyecto = item.idProyecto, idLSP = item.idLSP })' class="list-group-item">
            @Html.DisplayFor(modelItem => item.cNombre)
        </a>
    }

    
    
</div>

<a data-modal="" href='@Url.Action("_CrearLSP", "Enrutamiento", new { idProyecto = Model.FirstOrDefault().idProyecto })' class="btn btn-default btn-block">Agregar Ruta Estática</a>
<a data-modal="" href='@Url.Action("_CrearCSPF", "Enrutamiento", new { idProyecto = Model.FirstOrDefault().idProyecto })' class="btn btn-default btn-block">Agregar por CPSF</a>



@*<table class="table">
    <tr>
        <th class="hidden">
            @Html.DisplayNameFor(model => model.idProyecto)
        </th>
        <th class="hidden">
            @Html.DisplayNameFor(model => model.idLSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cNombre)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="hidden">
            @Html.DisplayFor(modelItem => item.idProyecto)
        </td>
        <td class="hidden">
            @Html.DisplayFor(modelItem => item.idLSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cNombre)
        </td>
  
        <td>
            <div class="btn-group" role="group">
                <a class="btn btn-default" href='@Url.Action("_EditarLSP", "Enrutamiento", new { idProyecto = item.idProyecto, idLSP = item.idLSP })'><p class="fa fa-edit"></p></a>
                <a class="btn btn-outline btn-danger" href='@Url.Action("_EditarLSP", "Enrutamiento", new { idProyecto = item.idProyecto, idLSP = item.idLSP })'><p class="fa fa-trash-o"></p></a>
            </div>
           
        </td>
    </tr>
}

</table>*@
