@model ProyectoMPLS.Models.Accounts.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="text-center">
    <a href="index.html" class="logo logo-lg"><i class="md md-equalizer"></i> <span>Mpls Tools</span> </a>
</div>

@using (Html.BeginForm("Login", "Usuario", FormMethod.Post, new { @class = "form-horizontal m-t-20" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <div class="col-xs-12">
            @Html.TextBoxFor(model => model.cUserName, new { @class = "form-control", @required = "", @placeholder = "Username" })
            <i class="md md-account-circle form-control-feedback l-h-34"></i>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            @Html.PasswordFor(model => model.cPassword, new { @class = "form-control", @required = "", @placeholder = "Password" })
            <i class="md md-vpn-key form-control-feedback l-h-34"></i>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            <div class="checkbox checkbox-primary">
                @Html.CheckBoxFor(model => model.bRecordarUsuario, new { @id = "checkbox-signup" })
                <label for="checkbox-signup">
                    Remember me
                </label>
            </div>

        </div>
    </div>

    <div class="form-group text-right m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit">
                Log In
            </button>
        </div>
    </div>

    <div class="form-group m-t-30">
        <div class="col-sm-7">
            <a href="pages-recoverpw.html" class="text-muted">
                <i class="fa fa-lock m-r-5"></i> Forgot your
                password?
            </a>
        </div>
        <div class="col-sm-5 text-right">
            <a href="pages-register.html" class="text-muted">Create an account</a>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
