@model ProyectoMPLS.Models.Topologia.CSPFViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Ruteo por CSPF</h4>
</div>

@using (Html.BeginForm("_CrearCSPF", "Topologia", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "DataFormCSPF" }))
{
    <div class="modal-body">

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    @Html.HiddenFor(model => model.idProyecto)
    @Html.HiddenFor(model => model.idLSP)

    

        <div class="form-group">
            <label for="focusedinput" class="col-sm-3 control-label">
                @Html.LabelFor(model => model.cNombre)
            </label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.cNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.Raw(HttpUtility.HtmlDecode(@Html.ValidationMessageFor(model => model.cNombre, "", new { @class = "text-danger" }).ToHtmlString()))
            </div>
        </div>

        <div class="form-group">
            <label for="focusedinput" class="col-sm-3 control-label">
                @Html.LabelFor(model => model.nBandwidth)
            </label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.nBandwidth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.Raw(HttpUtility.HtmlDecode(@Html.ValidationMessageFor(model => model.nBandwidth, "", new { @class = "text-danger" }).ToHtmlString()))
            </div>
        </div>

        <div class="form-group">
            <label for="focusedinput" class="col-sm-3 control-label">
                @Html.LabelFor(model => model.nRouterOrigen)
            </label>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.nRouterOrigen, Model.listaNodos, new { @class = "form-control", id = "dpxRouterOrigen" })
                @Html.Raw(HttpUtility.HtmlDecode(@Html.ValidationMessageFor(model => model.nRouterOrigen, "", new { @class = "text-danger" }).ToHtmlString()))
            </div>
        </div>

        <div class="form-group">
            <label for="focusedinput" class="col-sm-3 control-label">
                @Html.LabelFor(model => model.nRouterDestino)
            </label>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.nRouterDestino, Model.listaNodos, new { @class = "form-control", id = "dpxRouterDestino" })
                @Html.Raw(HttpUtility.HtmlDecode(@Html.ValidationMessageFor(model => model.nRouterDestino, "", new { @class = "text-danger" }).ToHtmlString()))
            </div>
        </div>

        @*<div class="form-group">
            <label for="focusedinput" class="col-sm-3 control-label">
                @Html.LabelFor(model => model.nTipoMetrica)
            </label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.nTipoMetrica, new { htmlAttributes = new { @class = "form-control" } })
                @Html.Raw(HttpUtility.HtmlDecode(@Html.ValidationMessageFor(model => model.nTipoMetrica, "", new { @class = "text-danger" }).ToHtmlString()))
            </div>
        </div>*@
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cerrar</button>
        <a class="btn btn-primary" id="submitCSPF">Ejecutar</a>
    </div>
}

<script>
        $(document).ready(function () {
            $("#submitCSPF").click(function () {
                var form = $("#DataFormCSPF")[0];
                var formData = new FormData(form);
                $.ajax({
                    url: '@Url.Action("_CrearCSPF", new { controller = "Topologia" })',
                    type: 'POST',
                    //contentType: false,
                    //processData: false,
                    data: formData,
                    success: function (result) {
                        if (result.success) {
                            $('#myModal').modal('hide');
                            window.location.reload(true);   //refresh page
                        } else {
                            $('#myModalContent').html(result);
                        }
                    },
                    error: function (error) { $("#error").html(error); }
                });
            });
        });
</script>

