@model ProyectoMPLS.Models.Topologia.LSP

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Ruteo Explícito</h4>
</div>

@using (Html.BeginForm("_CrearLSP", "Topologia", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "DataForm" }))
{
<div class="modal-body">
   
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

     
        @Html.HiddenFor(model => model.idProyecto)
        @Html.HiddenFor(model => model.idLSP)
        
            
    <div class="form-group">
        <label for="focusedinput" class="col-sm-3 control-label">
            @Html.LabelFor(model => model.cNombre)
        </label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.cNombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.Raw(HttpUtility.HtmlDecode(@Html.ValidationMessageFor(model => model.cNombre, "", new { @class = "text-danger" }).ToHtmlString()))
        </div>
    </div>

    <div class="form-group">
        <label for="focusedinput" class="col-sm-3 control-label">
            @Html.LabelFor(model => model.nBandwidth)
        </label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.nBandwidth, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nBandwidth, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="focusedinput" class="col-sm-3 control-label">
            @Html.LabelFor(model => model.idRouterOrigen)
        </label>
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.idRouterOrigen, Model.listaNodosDisponibles, new { @class = "form-control", @id = "dpxNextHop" })
            @Html.ValidationMessageFor(model => model.idRouterOrigen, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="focusedinput" class="col-sm-3 control-label">
            @Html.LabelFor(model => model.idRouterDestino)
        </label>
        <div class="col-md-5">
            @Html.EditorFor(model => model.idRouterDestino, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.idRouterDestino, "", new { @class = "text-danger" })
            
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-info" id="btnAddSalto">
                <p class="fa fa-plus"></p>
            </button>
        </div>
    </div> 
          

    <div>
        <ul class="timeline">
            <li>
                <div class="timeline-badge"><i class="fa fa-check"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Lorem ipsum dolor</h4>
                        @*<p>
                            <small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small>
                        </p>*@
                    </div>
                    @*<div class="timeline-body">
                        <p>Lorem ipsum dolor sit luptas suscipit facere rem dicta, debitis.</p>
                    </div>*@
                </div>
            </li>
        
        </ul>

    </div>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal">Cerrar</button>
    <input class="btn btn-primary" type="submit" value="Save" />
</div>
}

@section scripts
{
    <script>
        //Vista, agregar un dropdown que diga Next Hop (Proximo Salto)

        //Obtener la lista de todos los nodos de la topologia
        //SP que mande la lista de todos los nodos por default, y que mande los enlaces/nodos adyacentes si le
        //  especifico un nodo

        $(document).ready(function () {
            $("#btnAddSalto").click(function () {
                var cDescripcionNodo = $("#dpxNextHop option:selected").text();
                $("ul").append('<li class="list-group-item">' + cDescripcionNodo + '</li>');
            });

            //Listado de Eventos 
            //-Cuando se modifica el dropdown de Nodo de Origen, debe cambiar la lista de Enlaces/Nodos adyacentes
            //-Cuando se modifica el dropdown de Nodo de Origen, debe cambiar el primer elemento de la lista LSP
            //-Cuando se modifica el Ancho de Banda, se debe cambiar la lista de Enlaces/Nodos adyacentes para que cumplan con el requisito
            //-Crear un blockquote de informacion del enlace, que se actualiza cada vez que se selecciona un Enlace/Nodo como Next Hop
            //-Cuando se presiona el boton de Agregar Camino, debe aparecer en la lista LSP el ultimo nodo agregado.
            //-Ademas, debe de refrescarse el nodo actual para el dropdown de Next Hop
            //-El ultimo elemento de la lista LSP debe de tener un boton de Eliminar, los demas tambien, pero disabled

        });

    </script>    
}


