@model IEnumerable<ProyectoMPLS.Models.Topologia.Afinidad>

<!-- modal placeholder -->
<div id='afinidad' class='modal fade in'>
    <div id='afinidadContent'></div>
</div>


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Lista de Afinidades</h4>
</div>

<div class="modal-body">
    <table class="table table-striped table-bordered" id="tblAfinidades">
        <thead>
            <tr>
                @*<th>@Html.DisplayNameFor(model => model.cDescripcion)</th>
                <th>@Html.DisplayNameFor(model => model.cColor)</th>*@
                <th></th><th></th><th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {

                    @*@Html.HiddenFor(modelItem => item.idProyecto, new { id = "tbxIdProyecto" })*@
                    <tr>
                        <td class="descripcion">
                            @Html.DisplayFor(modelItem => item.cDescripcion)
                        </td>
                        <td class="color" bgcolor="#@item.cColor"></td>
                        <td>
                            @using (Html.BeginForm("_BorrarAfinidad", "Topologia", FormMethod.Post))
                            {
                                <div class="btn-group" role="group">
                                    <a class="btn btn-default" id="linkEditarAfinidad" data-modal="" data-toggle="modal" href="@Url.Action("_EditarAfinidad", "Topologia", new { idProyecto = item.idProyecto, idAfinidad = item.idAfinidad })">Editar</a>
                                    @Html.Hidden("idProyecto", item.idProyecto)
                                    @Html.Hidden("idAfinidad", item.idAfinidad)
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </div>
                            }

                            @*<a class="btn btn-danger" id="linkEliminarAfinidad" data-modal="" data-toggle="modal" href="">Eliminar</a>*@
                        </td>
                    </tr>

                }
            }            
        </tbody>

    </table>
</div>

<div class="modal-footer">
    <a class="btn btn-default" id="linkCrearAfinidad" data-modal="" data-toggle="modal" href="@Url.Action("_CrearAfinidad", "Topologia", new { idProyecto = Model.First().idProyecto })">Agregar Afinidad</a>
    @*<button class="btn" id="addAfinidad">Agregar Afinidad</button>*@
    <button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
</div>

<script src="~/Scripts/modalform.js"></script>

<script>

    $(document).ready(function () {

        $('form').submit(function (e) {
            var currentForm = this;
            e.preventDefault();
            bootbox.confirm('¿Está seguro de que desea eliminar esta afinidad?', function (result) {
                if (result) {
                    currentForm.submit();
                }
            });
        });
    });

</script>

