@model ProyectoMPLS.Models.Topologia.Proyecto

@{
    ViewBag.Title = "Editar";
}

<!--Nombre del Archivo en Edicion-->
 <h2><i class="fa fa-folder-open"></i> @Html.DisplayTextFor(model => model.cTitulo)</h2>

@Html.HiddenFor(model => model.idProyecto, new { id = "tbxIdProyecto" })

<!-- modal placeholder-->
<div id='myModal' class='modal container fade'>
    <div id='myModalContent'></div>  
</div>

<!--Barra de Menus-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <!--Actual Link to LSP list-->

            <ul class="nav navbar-nav navbar-left">
                <li><a data-modal="" href='@Url.Action("_IndexLSPs", "Enrutamiento", new { idProyecto = Model.idProyecto })'>Lista de LSPs</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-left">
                <li><a data-modal="" class="size-lg" href='@Url.Action("_CrearLSP", "Enrutamiento", new { idProyecto = Model.idProyecto })'>Agregar LSP</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-left">
                <li><a data-modal="" href='@Url.Action("_CrearCSPF", "Topologia", new { idProyecto = Model.idProyecto })'>Aplicar CSPF</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-left">
                <li><a data-modal="" href='@Url.Action("_ListaAfinidades", "Topologia", new { idProyecto = Model.idProyecto })'>Lista de Afinidades</a></li>
            </ul>
            @*<ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>*@
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--Barra de Herramientas-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li><a id="file"><i class="fa fa-2x fa-file col-xs-1"></i></a></li>
            <li><a id="save"><i class="fa fa-2x fa-save"></i></a></li>
            <li><a id="cut"><i class="fa fa-2x fa-cut col-xs-1"></i></a></li>
            <li><a id="copy"><i class="fa fa-2x fa-copy col-xs-1"></i></a></li>
            <li><a id="paste"><i class="fa fa-2x fa-paste col-xs-1"></i></a></li>
            <li><a id="undo"><i class="fa fa-2x fa-arrow-circle-left col-xs-1"></i></a></li>
            <li><a id="redo"><i class="fa fa-2x fa-arrow-circle-right col-xs-1"></i></a></li>
            <li><a id="delete"><i class="fa fa-2x fa-trash-o col-xs-1"></i></a></li>
        </ul>
    </div>
</nav>


<div class="container-fluid">
    <!--Barras Laterales-->
    <div class="sidebar right">
        <!--Barra de Componentes-->
        <div class="panel panel-info">
            <div class="panel-heading">
                <a class="panel-title" data-toggle="collapse" data-target="#collapseOne" href="#collapseOne">Componentes</a> 
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div id="myPaletteDiv" style="width: 180px; height: 427px; position: relative;"></div>
                </div>
            </div>
        </div>
        <!--Barra de LSPs-->
        <div class="panel panel-info">
            <div class="panel-heading">
                <a class="panel-title" data-toggle="collapse" data-target="#collapseOne" href="#collapseOne">Listado de LSPs</a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    @*@{ Html.RenderPartial("~/Views/Enrutamiento/_InlineIndexLSPs.cshtml", Model.listadoLSPs); }*@
                </div>
            </div>
        </div>
    </div>
    <!--Fin Barras Laterales-->
    <!--Ventana Principal de Edicion-->
    <div class="content fluid-fixed">
        <div id="myDiagramDiv" class="well" style="width: auto; height: 500px; position: relative;"></div>
    </div>
    <!--Fin Ventana Principal de Edicion-->
        
</div>

@section scripts
{
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/Scripts/CustomScripts/topologia.js")
}

<style>
    .container-fluid > .sidebar {
        position: relative;
        top: 0;
        left:auto;
        width: 220px;
        margin-top: 0px;
    }

    .left {
        float:left;
    }

    .right {
        float:right;
    }

    .fixed-fluid {
        margin-left: 240px;
    }
    .fluid-fixed {
        margin-right: 240px;
        margin-left:auto !important;
    }
    .fixed-fixed {
        margin: 0 240px;
    }
</style>
   







  