@model IEnumerable<ProyectoMPLS.Models.Topologia.Proyecto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idProyecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cTitulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtFechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtFechaUltEdicion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idProyecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cTitulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtFechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtFechaUltEdicion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
